* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

main {
    position: relative;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #100f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    color: white;
    height: 260px;
}

img {
    display: block;
    margin: 0 auto;
}

input[type="password"],
input[type="email"] {
    color: white;
    width: 200px;
    background-color: transparent;
    border: 1px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#confirmar {
    width: 200px;
}


label {
    font-size: 13px;
    width: 200px;
}

#voltar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    top: 0;
    left: 20px;
    position: absolute;
    font-size: 25px;
    transition: transform ease 0.2s;
}

#voltar a:hover {
    transform: scale(1.1);
}
